@charset utf-8;

/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button {
	background:transparent;
	border:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-weight:normal;
	font-family:"NTSansR", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
	letter-spacing:-1px;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

html {
	font-size:16px;
}

body {
	color:#505050;
	line-height:1.2;
	min-width:320px;
	overflow-x:hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

nav ul, li {
	list-style:none;
}

a {
	background:transparent;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	text-decoration:none;
	vertical-align:baseline;
}

img {
	max-width:100%;
	vertical-align:top;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input {
	border-radius:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"NTSansR", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
	font-weight:normal;
	margin:0;
	letter-spacing:-1px;
	padding:0;
	vertical-align:top;
}

select, textarea {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"NTSansR", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
	letter-spacing:-1px;
}

.hide { font-size:0; height:0; left:-20000px; overflow:hidden; position:absolute; text-indent:-20000px; width:0; }

header,
nav,
section,
article,
aside,
footer { display:block; }

/* 웹폰트 CSS */
@font-face { font-family:"NTSansBk"; src:url("../fonts/NotoSansKR-Black.otf") }
@font-face { font-family:"NTSansBk"; src:url("../fonts/NotoSansKR-Black.woff") }

@font-face { font-family:"NTSansB"; src:url("../fonts/NotoSansKR-Bold.otf") }
@font-face { font-family:"NTSansB"; src:url("../fonts/NotoSansKR-Bold.woff") }

@font-face { font-family:"NTSansL"; src:url("../fonts/NotoSansKR-Light.otf") }
@font-face { font-family:"NTSansL"; src:url("../fonts/NotoSansKR-Light.woff") }

@font-face { font-family:"NTSansM"; src:url("../fonts/NotoSansKR-Medium.otf") }
@font-face { font-family:"NTSansM"; src:url("../fonts/NotoSansKR-Medium.woff") }

@font-face { font-family:"NTSansR"; src:url("../fonts/NotoSansKR-Regular.otf") }
@font-face { font-family:"NTSansR"; src:url("../fonts/NotoSansKR-Regular.woff") }

@font-face { font-family:"NTSansT"; src:url("../fonts/NotoSansKR-Thin.otf") }
@font-face { font-family:"NTSansT"; src:url("../fonts/NotoSansKR-Thin.woff") }

@font-face { font-family:"RIDIBatang"; src:url("../fonts/RIDIBatang.otf") }
@font-face { font-family:"RIDIBatang"; src:url("../fonts/RIDIBatang.woff") }

@font-face { font-family:"SANGJU_Gotgam"; src:url("../fonts/SANGJU_Gotgam.ttf") }
@font-face { font-family:"SANGJU_Gotgam"; src:url("../fonts/SANGJU_Gotgam.woff") }
/* 웹폰트 CSS end */